/* TODO __>
 * BASE STRUCTURE FOR ALL "SECTIONS" Modules
 * Define rules for base flex structure of whole page/section content
 */
#scaffold {
    display: flex;
    flex-direction: column;
    right: 0;
    width: 100%;
    height: 100%;
    min-width: 90vw;
    min-height: 100vh;
    margin-left: auto;
    margin-right: 0;
    color: transparent;
    background: transparent;
}

/* ::DEBUG:: ---> */
#Portfolio {
    background: #42b983;
}

#About {
    background: red;
}

#Contact {
    background: antiquewhite;
}
/* <--- ::DEBUG:: */
h1 {
    font-size: 7vmin;
}
h2 {
    font-size: 4vmin;
}
h3 {
    font-size: 2.5vmin;
}
h4 {
    font-size: 1.5vmin;
}